{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    New Contact
{% endblock %}

{% block content %}

    <form role="form" action="{{formUrl}}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            {% if contactId %}
                <button type="button" class="btn btn-danger" onclick="location.href='/borrar?id={{contactId}}';" >
                  {% bootstrap_icon "remove" %} Delete
                </button>
            {% endif %}
            <button type="reset" class="btn btn-warning">
              {% bootstrap_icon "alert" %} Reset
            </button>
            <button type="reset" class="btn btn-info" onclick="location.href='/';" >
              {% bootstrap_icon "alert" %} Cancel
            </button>
            <button type="submit" class="btn btn-success">
              {% bootstrap_icon "user" %} Save
            </button>
        {% endbuttons %}
    </form>

{% endblock %}