{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Agenda{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Birthday</th>
            <th>Notes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in Contacs %}
            <tr>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.birthday }}</td>
                <td>{{ contact.notes }}</td>
                <td><a href="/editar?id={{contact.id}}" class="btn btn-default btn-sm active" role="button">Edit</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}